[Desktop Entry]
Encoding=UTF-8
Name=Link to Creating a Linux service with systemd – Benjamin Morel – Medium
Type=Link
URL=https://medium.com/@benmorel/creating-a-linux-service-with-systemd-611b5c8b91d6
Icon=text-html
