[Desktop Entry]
Encoding=UTF-8
Name=Link to How To Use Systemctl to Manage Systemd Services and Units | DigitalOcean
Type=Link
URL=https://www.digitalocean.com/community/tutorials/how-to-use-systemctl-to-manage-systemd-services-and-units
Icon=text-html
