[Desktop Entry]
Encoding=UTF-8
Name=Link to Run your Java application as a Service on Ubuntu – sulman sarwar – Medium
Type=Link
URL=https://medium.com/@sulmansarwar/run-your-java-application-as-a-service-on-ubuntu-544531bd6102
Icon=text-html
